{% extends "base.html.twig" %}
{% block menu_about %}class="current"{% endblock %}
{% block body %}
<div id="about">
    <p>
    Hello Fellow Pokémon Trainers,<br><br>
    I built this website for my personal use and for training purposes.<br>
    I wanted something simple to help me choose which Pokémon to use when facing a certain type of Pokémon without having to look through a chart.<br>
    Therefore, for each selected type, I only put the types of Pokémon which attacks have a x2 modifier. Of course, you can reach a x4 modifier by choosing to use a double-type Pokémon which types are identified as the adversary's weaknesses.<br><br>
    Enjoy!
    </p>
</div>
{% endblock %}