<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pokétype Helper - Home{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a {% block menu_home %}{% endblock %} href="{{ path('index') }}">Home</a>
                <a {% block menu_about %}{% endblock %} href="{{ path('about') }}">About</a>
            </nav>
            <h1>Pokétype Helper</h1>
        </header>
        {% block body %}{% endblock %}
        <footer>

            <p>Pokémon is a trademark of Nintendo</p>

        </footer>
        {% block javascripts %}<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>{% endblock %}
    </body>
</html>
