{% extends 'base.html.twig' %}

{% block body %}
    <h2>404 Page not found</h2>

    <p>
        The requested page could not be located. Checkout for any URL misspelling or <a style="padding: 0;" href="{{ path('index') }}">return to the homepage</a>.
    </p>
{% endblock %}