{% extends 'base.html.twig' %}

{% block body %}
    <h2>403 Page forbidden</h2>

    <p>
        You do not have permission to access this page.<br><a style="padding: 0;" href="{{ path('index') }}">Please return to the homepage</a>.
    </p>
{% endblock %}